# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
*.tar.gz
/vendor/

# Node
node_modules/
.next/
out/
build/
dist/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env*.local
.env
.env.development.local
.env.test.local
.env.production.local

# Package Manager Lock Files
**/package-lock.json
**/yarn.lock
**/pnpm-lock.yaml

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Project specific
*.patch
/tmp/
